.CodeMirror {
    height: 800px;
}
ul {
    text-align: center;
}
li {
    background-color: white;
    border-radius: 2px;
    width: 30px;
    height: 20px;
    color: black;
}
.quesnav {
    text-align: center;
    padding: 20px
}
.pagination {
    /* margin-right: 10px; */
    height: 25px;
    width: 40px;
    margin: 0 10px 0 10px;
    border: none;
    background-color: white;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
}
.pagination:hover, .pagination:focus {
    background-color: gray;
}